
<div class='alert-bar' id='alert-bar'>
  <a href='#' class='btn btn-red btn-xs pull-right' style='border:solid 1px rgba(153, 11, 11, 1)' ng-click='nav.closeAlert()'><i class="fa fa-times" aria-hidden="true"></i></a>
  <i class="fa fa-bullhorn" aria-hidden="true"></i> <strong><u>Urgent:</u></strong> Call Senator Moran's office today to oppose Betsy DeVos for Secretary of Education. Save our public schools!
  &nbsp;<a href='http://www.moran.senate.gov/public/index.cfm/contact-info' class='btn btn-red btn-xs' style='border:solid 1px rgba(153, 11, 11, 1)' >Go to Contact Info</a>
</div>

<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarController">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="nav.isCollapsed = !nav.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">INDIVISIBLE KANSAS</a>
    </div>
    <div uib-collapse="nav.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat='item in nav.menu' ui-sref-active="active">
          <a ui-sref='{{item.state}}'>{{item.title}}</a>
        </li>

      </ul>
      <ul class='nav navbar-nav navbar-right'>
        <li ng-show="nav.isLoggedIn()"><p class="navbar-text">{{ nav.getCurrentUser().name }}</p> </li>
        <li ng-show="nav.isLoggedIn()" ><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="nav.isLoggedIn()"><a ui-sref="logout">Logout</a></li>
        <li style='background:#3b5998;width:50px;' class='text-center'><a href='https://www.facebook.com/IndivisibleKS/' style='color:#ffffff;'><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li style='background:#00aced;width:50px' class='text-center'><a href='https://twitter.com/IndivisibleKS/' style='color:#ffffff;'><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>
</div>
